################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ITS/v16/Server/sqlite3
/.vs/ITS/v16
